@model WorkshopDotNet.Modello.Entita.Dispositivo

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Dispositivo</h4>
        <hr />

        <ul id="telemetria">
        </ul>


        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdDispositivo)

        <div class="form-group">
            @Html.LabelFor(model => model.Descrizione, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descrizione, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descrizione, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataInstallazione, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataInstallazione, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DataInstallazione, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


<script type="text/javascript">
        $(function () {
            // Declare a proxy to reference the hub.
            var telemetria = $.connection.telemetriaHub;
            // Create a function that the hub can call to broadcast messages.
            telemetria.client.riceviMessaggio = function (telemetria) {
                var li = $("<li />");
                li.text("Temperatura: " + telemetria.Temperatura + ", Umidità: " + telemetria.Umidita + ", " + telemetria.DataSalvataggio);
                $("#telemetria").append(li);
            };

            $.connection.hub.start().done(function () {
                telemetria.server.sottoscriviRicezione(@Model.IdDispositivo);
            });
        });
</script>
